@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@variant dark (&:where(.dark, .dark *));

/* 1. Ancho de la barra */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* 2. El fondo de la barra (El riel) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Invisible para que se vea el fondo de la tarjeta */
}

/* 3. La barra que se mueve (Thumb) - MODO DÍA */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 10px;
}

/* 4. La barra que se mueve (Thumb) - MODO NOCHE */
/* Esto se activa automáticamente cuando la app tiene la clase 'dark' */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569; /* slate-600 */
}

/* 5. Efecto al pasar el mouse por encima */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8; /* slate-400 */
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* slate-500 */
}